body {
  background-image: linear-gradient(60deg, blue, lightgreen);
  background-repeat: no-repeat;
}

.outerbody {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 0 17% 0;
}
.InnerOne {
  margin: auto;
  align-content: center;
  justify-content: center;
  font-family: rubik;
  background-color: #00000085;
  color: white;
  padding: 5%;
  border-radius: 20px;
  backdrop-filter: blur();
}
footer {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.mydetails {
  background-color: rgba(0, 0, 0, 0.733);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
}

.social {
  display: flex;
  column-gap: 15px;
  margin-right: 20px;
  transition: all 0.2s ease;
}
.social img:hover {
  transform: scale(1.05);
}

h6 {
  width: 50%;
  font-size: 15px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.795);
  font-family: montserrat;
  font-weight: 600;
  margin: auto;
  margin-left: 20px;
  letter-spacing: 1px;
}

.social img {
  width: 30px;
  height: 30px;
  float: right;
}

.social p {
  margin: 0px;
  margin: auto;
  font-family: montserrat;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.74);
  font-weight: 500;
}
h1 {
  color: white;
  font-family: montserrat;
  text-align: center;
  font-size: 40px;
  transition: all 0.5s ease;
}
h2 {
  color: white;
  font-family: montserrat;
  text-align: center;
  font-size: 40px;
  transition: all 0.5s ease;
}
#Number {
  border-radius: 3px;
  border: 0px;
  margin-left: 10px;
  height: 20px;
  font-family: Rubik;
  background-color: rgba(255, 255, 255, 0.795);
}
#Number:focus-visible {
  outline: 0px;
}
#Number::placeholder {
  font-size: 13px;
  color: rgba(76, 0, 130, 0.671);
  font-family: rubik;
  margin-left: 2px;
}
#Binary {
  margin-left: 20px;
}

#Octal {
  margin-left: 20px;
}

#Hexa {
  margin-left: 20px;
}
button {
  color: White;
  background-color: rgba(0, 0, 0, 0.795);
  padding: 5px 18px;
  border-radius: 20px;
  border: 0px;
  font-family: 17px;
  font-family: rubik;
  transition: all 0.3s ease;
}
button:hover {
  box-shadow: 0px 2px 4px -2px rgba(255, 255, 255, 0.801);
  transform: translateY(-3px);
}
button:nth-of-type(2) {
  margin-left: 8px;
}

@media screen and (max-width: 500px) {
  .outerbody {
    padding-top: 22vw;
    text-align: center;
    padding-bottom: 40vw;
    align-items: center;
  }
  .InnerOne {
    padding: 10%;
  }
  #Number {
    display: block;
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  #Number::placeholder {
    text-align: center;
  }
  .mydetails {
    display: block;
  }

  h6 {
    width: 100%;
    margin: 10px;
    text-align: center;
  }
  .social {
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .social p {
    margin-right: 10px;
    margin-left: 10px;
  }
}
